.logo{

    width: 70px;
    height: 70px;
    margin-left: 3%;

}
h1{
    color: #000;
    font-family: Arial black;
}
.navtext{
    margin-top: -82%;
    margin-left: 100%;
    color: rgb(0, 0, 0);
}
.box-presentation{
    height: 500px;
    background: rgba(0,0,0,0);
}

.text-presentation {
    margin-top: -3%;
    text-shadow: black 3px 2px 3px;
    animation-duration: 1s;
    animation-name: text-presentation;
}