html{
    display: fixed;
    position: block;
    background: linear-gradient(to bottom, #0d47a1 0%, #64b5f6 100%);
    background-repeat: no-repeat;
    height: 3000px;
}

body {
    overflow: hidden;
    overflow-y:auto;
}

header {
    position: sticky;
}
.nav-wrapper {
    background-color: #424242;
    box-shadow: #202020 2px 3px 6px;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 4%;
}

.text-logo {
    margin-top: -26%;
    margin-left: 30%;
}

.box-presentation {
    height: 500px;
    background: rgba(0,0,0,0);
}

.img-presentation {
    width: 400px;
    height: 400px;
    margin-left: 27%;
    animation-duration: 1s;
    animation-name: image-presentation;
}

.text-presentation {
    margin-top: -3%;
    text-shadow: black 3px 2px 3px;
    animation-duration: 1s;
    animation-name: text-presentation;
}

@keyframes image-presentation {
    from {
        margin-top: -20%;
        opacity: 0%
    }

    to {
        margin-top: 0%;
        opacity: 100%
    }
}

@keyframes text-presentation {
    from {
        margin-top: -20%;
        opacity: 0%;
    }

    to {
        margin-top: -3%;
        opacity: 100%;
    }
}

.sky-1 {
    width: 1460px;
    height: 467px;
    z-index: 1;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sun {
    position: relative;
    background: #ffff34;
    margin-left: 90%;
    margin-top: -50%;

    z-index: 1;
    transform: translateY(-25vh) translateZ(0px) scale(1);


    border-radius: 600px;
    box-shadow: #ffff34 10px 10px 20px;
    width: 350px;
    height: 330px;
    background: url(../img/ImgsElParcheP/imgs/sun-parallax-1.png);
    background-size: cover;

    -webkit-animation: sun 5s infinite linear;

    background-attachment: fixed;
    background-size: cover;
}

@-webkit-keyframes sun {
    from {
        background-position: left center;
    }

    to {
        background-position: -82.2vh center;
    }
}

.box-text-1 {
    background-color: #7692FF;
    width: 1500px;
    height: 400px;
    margin-left: -22%;
    margin-top: -15%;
    z-index: 1;
}
